
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Assignment3.Models.MovieModel

<h1>Successfully added @Model.title</h1>
To view all of your movies click <a asp-action="Movies">here</a>.

